.button {
    display: inline-block;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: green;
    outline: none;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: white;

    &.button--link {
        margin-top: 10px;
        padding: 0;
        background-color: transparent;
        text-decoration: underline;
        color: #1b4b72;
        transition: color .3s ease-in-out;

        &:hover,
        &:focus {
            background-color: transparent;
            text-decoration: underline;
            color: lighten(#1b4b72, 15);
        }
    }

    &:hover,
    &:focus {
        border: none;
        outline: none;
        background-color: darken(green, 5);
        text-decoration: none;
        color: white;
    }

    // Disabled
    &.disabled,
    &[disabled] {
        cursor: default;
        background-color: #636b6f;
        border-color: #636b6f;

        &:hover,
        &:focus {
            background-color: #636b6f;
            border-color: #636b6f;
        }
    }
}
