.input {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;


    &.input--error {
        border-color: #E51400;
        box-shadow: 0 0 4px 1px #E51400;
    }

    &:hover,
    &:focus {
        background: #ffe;
        border: 1px solid #0075FF;
        box-shadow: 0 0 4px 1px #0075FF;
    }
}

.error-message {
    margin-top: -10px;
    font-size: 12px;
    font-family: $main-font;
}
