.create-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;

    .create-form__group {
        &.create-form__group--double {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &.create-form__group--half {
            width: calc(50% - 20px);
        }
    }

    .create-form__delete,
    .create-form__submit {
        position: relative;
        overflow: hidden;
        z-index: 1;
        width: 100%;
        margin-top: 10px;
        background-color: #636b6f;
        color: white;
        border: 0;
        transition: color 0.4s linear;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #4CAF50;
            border-radius: 4px;
            z-index: 1;
            transform-origin: 0 0;
            transform: scaleX(0);

            @include momentum-transition;
        }

        @include hover {
            &::before {
                transform: scaleX(1);
                color: #fff !important;
                z-index: -1;
            }
        }
    }

    .create-form__delete {
        &::before {
            background: #E51400;
        }
    }
}
